/* STORE LIST */
.store-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  list-style: none;
  padding-left: 0;
}

/* STORE CARD */
.store-card {
  background-color: #332f2c;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease;
  color: #f3dcca;
}

.store-card:hover {
  transform: scale(1.03);
}

.store-card p {
  margin-bottom: 0.6rem;
}

.store-card a {
  font-weight: 700;
  color: #f3dcca;
}

/* STORE DETAIL VIEW */
.store-detail {
  background-color: #332f2c;
  padding: 1rem;
  border-radius: 8px;
  max-width: 700px;
  margin: 0 auto 2rem;
  color: #f3dcca;
}

.store-name {
  color: #f3dcca;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 2rem;
}

.store-info p {
  margin-bottom: 0.6rem;
  color: #f3dcca;
  padding-left: 2rem;
}

.store-website a {
  color: #e98734;
  font-size: 1rem;
  text-decoration: none;
}

.store-website a:hover {
  text-decoration: underline;
  color: #cd4532;
}

/* REVIEWS */
.reviews-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.review-item {
  background-color: #59333a;
  padding: 0.8rem;
  border-radius: 6px;
  margin-bottom: 0.8rem;
  color: #f3dcca;
}

.review-title {
  color: #f3dcca;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 2rem;
}

.review-text {
  font-style: italic;
  color: #f3dcca;
}

@media (max-width: 600px) {
  .store-name {
    font-size: 2rem;
    padding-left: 1rem;
  }
}
